@charset "UTF-8";
/*
Theme Name: Neant Immo
Theme URI: https://gitlab.yana.xyz/cedric/neant-immo/
Description: Wordpress Theme for immo web site
Author: Cedric Audrit
Author URI: https://www.audrit.be/
Requires at least: 5.7
Tested up to: 5.7
Requires PHP: 5.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.slide-card {
  align-content: flex-end;
  flex-direction: column-reverse;
}

.list-card-img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/*SEARCH FORM STYLE START */
.advanced {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
  color: #fff;
  background-color: #00838f !important;
  border-color: #00838f !important;
  box-shadow: none
}

.advanced {
  color: #00838f !important
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #00838f
}
/*SEARCH FORM STYLE END */